
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pangolin, 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
}

body{
    background-color: teal;
}

header{
    background-color: salmon;
    padding: 20px;
}

header h1{
    color: rgb(65, 64, 66);
    font-size: 70px;
}

.play-section{
    margin: 50px;
    background-color:  rgb(65, 64, 66);
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 700px;
    border: ridge 6px white;
}

.scoreboard{
    border: 3px solid salmon;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 80px;
    width: 500px;
    margin: 25px auto; /* does 15px top bottom and centers horizontally*/
    padding: 5px;
    position: relative /* so that we can position labels relative to the scoreboard*/
}

.player-label{
    background-color: rgb(65, 64, 66);
    padding: 3px;
    font-size: 26px;
}

#you-label{
    position: absolute;
    top: 32px;
    left: -28px;
}

#opponent-label{
    position: absolute;
    top: 32px;
    right: -70px;
}

.message{
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 15px auto;
}

.choice{
    display: inline-block;
    /* border: 1px teal solid; */
    border-radius: 50%;
    padding: 3px;
    transition: 0.2s;
}

    /* .choice:hover{
        background-color: #013637;
    } */

    .win-border{
        border: 1px green solid;
        box-shadow: 0 0 0px;
    }

    .lose-border{
        border: 1px red solid;
        box-shadow: 0 0 0px;
    }

    .draw-border{
        border: 1px gray solid;
        box-shadow: 0 0 0px;
    }

#prompt{
    margin: 25px auto;
    font-size: 24px;
    color: white;
}


.statistics{
    margin: 50px;
    background-color:  rgb(65, 64, 66);
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 700px;
    border: ridge 6px white;
}

.stats-header{
    padding: 10px;
    padding-bottom: 20px;
}

.stat-choice-title{
    display: inline-flex;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
    line-height: 1.5;
    width: 100%;
    position: relative;
}
    .stat-choice-title img{
        position: absolute;
        right: 10px;
        transition: 0.3s;
    }

.stats{
    display: inline-flex;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.stat-choice{
    padding: 10px 25px;
    border: 4px salmon solid;
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
    margin: 10px auto;
}

    .stat-choice h1{
        font-weight: bold;
    }

    .stat-choice p{
        font-size: 30px;
    }